{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}


<!-- char-area -->
<section class="message-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="chat-area">

          <!-- chatlist -->
          <div class="chatlist">

            <div class="modal-dialog-scrollable">

              <div class="modal-content">

                <div class="chat-header">

                  <div class="msg-search">
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search" aria-label="search">
                    <a class="add" href="#"><img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/add.svg" alt="add"></a>
                  </div>

                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="Open-tab" data-bs-toggle="tab" data-bs-target="#Open" type="button" role="tab" aria-controls="Open" aria-selected="true">Online</button>
                      </li>
                      <li class="nav-item" role="presentation">
                          <button class="nav-link" id="Closed-tab" data-bs-toggle="tab" data-bs-target="#Closed" type="button" role="tab" aria-controls="Closed" aria-selected="false">All</button>
                      </li>
                  </ul>
                </div>

                <div class="modal-body">
                <!-- chat-list -->
                  <div class="chat-lists">

                    <div class="tab-content" id="myTabContent">

                      <div class="tab-pane fade show active" id="Open" role="tabpanel" aria-labelledby="Open-tab">

                        <!-- chat-list -->
                        <div class="chat-list">

                          <a href="#" class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                              <!--
                              <img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/user.png" alt="user img">
                              -->
                              <img class="img-fluid" src="https://cdn10.bigcommerce.com/s-yhxhf/products/5881/images/10861/15MV081__73903.1429922981.600.600.png?c=2" alt="user img" style="height: 45px; width: 45px;">
                              <span class="active"></span>
                            </div>
                            <div class="flex-grow-1 ms-3">
                              <h3>R2D2</h3>
                              <p>Virtual Assistant</p>
                            </div>
                          </a>

                        </div>

                      </div>
                      <!-- chat-list -->

                      <div class="tab-pane fade" id="Closed" role="tabpanel" aria-labelledby="Closed-tab">

                        <!-- chat-list -->
                        <div class="chat-list">

                          <a href="#" class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                              <img class="img-fluid" src="https://cdn10.bigcommerce.com/s-yhxhf/products/5881/images/10861/15MV081__73903.1429922981.600.600.png?c=2" alt="user img" style="height: 45px; width: 45px;">
                              <span class="active"></span>
                            </div>
                            <div class="flex-grow-1 ms-3">
                              <h3>R2D2</h3>
                              <p>virtual assistant</p>
                            </div>
                          </a>

                        </div>

                      </div>

                    </div>

                  </div>

                </div>

              </div>
            </div>
          </div>
          <!-- chatlist -->



          <!-- chatbox -->
          <div class="chatbox {{ showbox }}">
            <div class="modal-dialog-scrollable">
              <div class="modal-content">
                <div class="msg-head">
                  <div class="row">
                    <div class="col-8">

                      <div class="d-flex align-items-center">
                        <span class="chat-icon">
                          <img class="img-fluid" src="https://mehedihtml.com/chatbox/assets/img/arroleftt.svg" alt="image title">
                        </span>
                        <div class="flex-shrink-0">
                          <img class="img-fluid" src="https://cdn10.bigcommerce.com/s-yhxhf/products/5881/images/10861/15MV081__73903.1429922981.600.600.png?c=2" alt="user img" style="height: 45px; width: 45px;">
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h3>R2D2</h3>
                          <p>Virtual Assistant</p>
                        </div>
                      </div>

                    </div>

                    <div class="col-4">

                      <ul class="moreoption">
                        <li class="navbar nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                          </a>
                          <ul class="dropdown-menu">
                              <li>
                                <a class="dropdown-item" href="{% url 'new_chat' %}">New Chat</a>
                              </li>
                          </ul>
                        </li>
                      </ul>

                    </div>
                  </div>
                </div>


                <div class="modal-body">
                  <div class="msg-body">
                    <ul>
                      {% for message in messages %}
                      {% if message.role == 'user' %}
                      <li class="reply">
                        <p> {{ message.content|linebreaksbr }} </p>
                        <span class="time">{{ message.time }}</span>
                      </li>
                      {% elif message.role == 'assistant' %}
                      <li class="sender">
                        <p> {{ message.content|linebreaksbr }} </p>
                        <span class="time">{{ message.time }}</span>
                      </li>
                      {% endif %}
                      {% endfor %}

                    </ul>
                  </div>
                </div>


                <div class="send-box">

                  <form action="/dev" method="POST" enctype="multipart/form-data" class="d-block">
                    {% csrf_token %}

                    <div class="mb-2">
                      <input class="form-control w-100" type="file" id="formFile" name="upload">
                    </div>

                    <div class="mb-2">
                      <input type="text" name="prompt" value="{{ prompt }}" class="form-control w-100" aria-label="message…" placeholder="Write message…">
                    </div>
                    <div class="mb-2">
                      <input class="form-control w-100" type="hidden" step="0.01" min="0" max="2" name="temperature" value="{{ temperature }}" id="temperature">
                    </div>
                    <div class="">
                      <button type="submit" class="form-control btn-primary w-100"><i class="fa fa-paper-plane" aria-hidden="true"></i> Send</button>
                    </div>
                    
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
          <!-- chatbox -->


        </div>
      </div>
    </div>
  </div>
</section>
<!-- char-area -->
{% endblock %}