{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Assistant | {% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="#">
    <link href="{% static 'virtual_assistant_app/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    {% block content %}
    {% endblock %}

    <!-- Maintain chatbox bottom scroll -->
    <script type="text/javascript">

        $(document).ready(function () {
            // Animate most recent AI chat
            $(".sender p").last().addClass('bounce');
            $(".sender").last().removeClass('d-none');

            $(".modal-body").scrollTop($(".msg-body")[0].scrollHeight);

        });

    </script>

    <!-- Responsive chat bubbles -->
    <script type="text/javascript">

        $("form").submit(function() {

            var str = $("#prompt").val();

            $("#reply p").text(str);
            $("#reply p").addClass('bounce');
            $("#reply").removeClass('d-none');

            $(".modal-body").animate({ scrollTop: $(".msg-body")[0].scrollHeight });

            $(".loadingDots").addClass('bounce');
            setTimeout(function() {
                $(".typing").removeClass('d-none');
                $(".modal-body").animate({ scrollTop: $(".msg-body")[0].scrollHeight });
            }, 1000);

            setTimeout(function() {
                $("#formFile").attr("disabled", true);
                $("#prompt").attr("disabled", true);
                $("#btnSubmit").attr("disabled", true);
            }, 1);

        });
        
    </script>
    
    <!-- Persistent chatbox for mobile screens -->
    <script type="text/javascript">

        $(document).ready(function() {

            $(".chat-list a").click(function() {
                $(".chatbox").addClass('showbox');
            });

            $(".chat-icon").click(function() {
                $(".chatbox").removeClass('showbox');
            });

        });

    </script>

</body>
</html>